TravelSite/TravelSite/Web References/ExperienceWebService2/ActivitiesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetActivityAgencies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivityAgenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivityAgenciesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agencies" type="tns:Agencies" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Agencies">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="agenciesID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agenciesName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agenciesAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agenciesCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agenciesState" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetActivitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindActivities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="activity" type="tns:Activity" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Activity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="activityID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="activityType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="activityTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="activityDay" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="activityPrice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="venueName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="venueCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="venueState" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindActivitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindActivitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findbyvenue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="venue" type="tns:Venue" />
            <s:element minOccurs="0" maxOccurs="1" name="activity" type="tns:Activity" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Venue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="venueName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="venueAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="venueCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="venueState" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="findbyvenueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findbyvenueResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findbyAgency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agency" type="tns:Agencies" />
            <s:element minOccurs="0" maxOccurs="1" name="activity" type="tns:Activity" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findbyAgencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findbyAgencyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginCheckResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agency" type="tns:Agencies" />
            <s:element minOccurs="0" maxOccurs="1" name="activity" type="tns:Activity" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:Customer" />
            <s:element minOccurs="0" maxOccurs="1" name="travelSiteiID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="travelSitePassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerState" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReserveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetActivityAgenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetActivityAgencies" />
  </wsdl:message>
  <wsdl:message name="GetActivityAgenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetActivityAgenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetActivitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetActivities" />
  </wsdl:message>
  <wsdl:message name="GetActivitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="FindActivitiesSoapIn">
    <wsdl:part name="parameters" element="tns:FindActivities" />
  </wsdl:message>
  <wsdl:message name="FindActivitiesSoapOut">
    <wsdl:part name="parameters" element="tns:FindActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="findbyvenueSoapIn">
    <wsdl:part name="parameters" element="tns:findbyvenue" />
  </wsdl:message>
  <wsdl:message name="findbyvenueSoapOut">
    <wsdl:part name="parameters" element="tns:findbyvenueResponse" />
  </wsdl:message>
  <wsdl:message name="findbyAgencySoapIn">
    <wsdl:part name="parameters" element="tns:findbyAgency" />
  </wsdl:message>
  <wsdl:message name="findbyAgencySoapOut">
    <wsdl:part name="parameters" element="tns:findbyAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="loginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:loginCheck" />
  </wsdl:message>
  <wsdl:message name="loginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:loginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapIn">
    <wsdl:part name="parameters" element="tns:Reserve" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapOut">
    <wsdl:part name="parameters" element="tns:ReserveResponse" />
  </wsdl:message>
  <wsdl:portType name="ActivitiesServiceSoap">
    <wsdl:operation name="GetActivityAgencies">
      <wsdl:input message="tns:GetActivityAgenciesSoapIn" />
      <wsdl:output message="tns:GetActivityAgenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <wsdl:input message="tns:GetActivitiesSoapIn" />
      <wsdl:output message="tns:GetActivitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <wsdl:input message="tns:FindActivitiesSoapIn" />
      <wsdl:output message="tns:FindActivitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <wsdl:input name="findbyvenue" message="tns:findbyvenueSoapIn" />
      <wsdl:output name="findbyvenue" message="tns:findbyvenueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <wsdl:input name="findbyAgency" message="tns:findbyAgencySoapIn" />
      <wsdl:output name="findbyAgency" message="tns:findbyAgencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginCheck">
      <wsdl:input message="tns:loginCheckSoapIn" />
      <wsdl:output message="tns:loginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <wsdl:input message="tns:ReserveSoapIn" />
      <wsdl:output message="tns:ReserveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivitiesServiceSoap" type="tns:ActivitiesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivityAgencies">
      <soap:operation soapAction="http://tempuri.org/GetActivityAgencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap:operation soapAction="http://tempuri.org/GetActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap:operation soapAction="http://tempuri.org/FindActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap:operation soapAction="http://tempuri.org/findbyvenue" style="document" />
      <wsdl:input name="findbyvenue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findbyvenue">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap:operation soapAction="http://tempuri.org/findbyAgency" style="document" />
      <wsdl:input name="findbyAgency">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findbyAgency">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginCheck">
      <soap:operation soapAction="http://tempuri.org/loginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActivitiesServiceSoap12" type="tns:ActivitiesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivityAgencies">
      <soap12:operation soapAction="http://tempuri.org/GetActivityAgencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap12:operation soapAction="http://tempuri.org/GetActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap12:operation soapAction="http://tempuri.org/FindActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap12:operation soapAction="http://tempuri.org/findbyvenue" style="document" />
      <wsdl:input name="findbyvenue">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findbyvenue">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap12:operation soapAction="http://tempuri.org/findbyAgency" style="document" />
      <wsdl:input name="findbyAgency">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findbyAgency">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginCheck">
      <soap12:operation soapAction="http://tempuri.org/loginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap12:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivitiesService">
    <wsdl:port name="ActivitiesServiceSoap" binding="tns:ActivitiesServiceSoap">
      <soap:address location="http://cis-iis2.temple.edu/Spring2018/CIS3342_tuf51382/TermProjectWS/ActivitiesService.asmx" />
    </wsdl:port>
    <wsdl:port name="ActivitiesServiceSoap12" binding="tns:ActivitiesServiceSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/Spring2018/CIS3342_tuf51382/TermProjectWS/ActivitiesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>